@model IEnumerable<ModelWebBanHang.SAN_PHAM>

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumbs{<li>@ViewBag.NameGroup</li>}

<div class="col-sm-9">

    @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-3">
                <div class="product">
                    <div class="image" style="height: 251px;">
                        <a href="@Url.Action("Index", "Detail", new { id = item.MA_SP })"><img src="~/Content/img/@item.HINH_ANH" alt="" class="img-responsive image1"></a>
                    </div>
                    <div class="text">
                        <h3 style="border-bottom: none">@Html.ActionLink(item.TEN_SP, "Index", "Detail",new {id=item.MA_SP},new { })</h3>
                        <p class="price">@String.Format("{0:0,0}", item.GIA_BAN) VNĐ</p>
                    </div>
                </div>
            </div>
            }

            @*@Html.Action("ProductPartial", "Home", new { IdGroup = ViewBag.IdGroup })*@
     

</div>