@model IEnumerable<ModelWebBanHang.SAN_PHAM>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumbs{<li>@Html.Label("Tìm Kiếm") </li>}


<div class="heading">
    <h2>Kết Quả Cho:&#147;@ViewBag.KeyWord&#148;</h2>
</div>

    <div class="col-sm-9">
        <div class="row products">

            @foreach (var item in Model)
            {
                <div class="col-sm-4 col-md-3">
                    <div class="product">
                        <div class="image" >
                            <a href="@Url.Action("Index", "Detail", new { id = item.MA_SP })"><img src="~/Content/img/@item.HINH_ANH" alt="" class="img-responsive image1"></a>
                        </div>
                        <div class="text">
                            <h3 style="border-bottom: none">@Html.ActionLink(item.TEN_SP, "Index", "Detail", new { id = item.MA_SP }, new { })</h3>
                            <p class="price">@String.Format("{0:0,0}", item.GIA_BAN) VNĐ</p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>




