<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WebBanHang" connectionString="metadata=res://*/WebBanHang.csdl|res://*/WebBanHang.ssdl|res://*/WebBanHang.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLSERVER;initial catalog=WebBanHang;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>